body {
  background-color: #f9f7f7;
  color: #112d4e;
  font-family: "Georgia";
  font-size: 18px;
  margin: 5% 5% 5% 5%;
  text-align: justify;
}

hr {
  /* background-color: #00adb5;*/
  border-style: dotted none none;
  border-color: #dbe2ef;
  border-width: 6px;
  height: 0;
  width: 50px; /* 50% */
}

h1 {
  color: #3f72af;
  text-align: left;
}

h3 {
  color: #3f72af;
}

/************Classes************/
.profile-pic {
  border-radius: 100%;
  height: auto;
  width: 200px;
}
